html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root{
  height: 100vh;
  margin:0;
}

.grid-container {
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height:100%;
}
body, input, select, textarea{
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}
a:hover{
  color:#ff0000;
}

header {
  grid-area: header;
  color: #ffffff;
  background-color: #203040;
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

main {
  grid-area: main;
}

footer {
  background-color: #203040;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}